@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.cupid-fill {
  fill:#D42380;
}

.uk-fill1 {
  clip-path:url(#SVGID_2_);
  fill:#213C75;
}

.uk-fill2 {
  clip-path:url(#SVGID_2_);
  fill:#FFFFFF;
}

.uk-fill3 {
  clip-path:url(#SVGID_2_);
  fill:#E03A3E;
}

.uk-fill4 {
  clip-path:url(#SVGID_2_);
  fill:#DD3E44;
}

.us-fill1 {
  clip-path:url(#SVGID_2_);
  fill:#065BA6;
}

.us-fill2 {
  clip-path:url(#SVGID_2_);
  fill:#FFFFFF;
}

.us-fill3 {
  clip-path:url(#SVGID_2_);
  fill:#E12529;
}
